/*-------------------------text--------------------------*/
.normalText{
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.redText{
    color: #ca0004;
    background-color: transparent;
}

.cyanText{
    color: #00EEC7;
    background-color: transparent;
}
/*-------------------------------------------------------*/

/*----------------------------- Buttons -------------------*/
.btn {
    border: 0.5px solid;
    background-color: transparent;
    color: black;
    padding: 1px 10px 1px 10px;   
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;   /*todo: change to flex boxes*/
    margin-bottom: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.redBtn{
    color: #ca0004;
    border-color: grey;
}
.redBtn:hover{
    color: white;
    border-color: white;
    background-color: #ca0004;
}

.cyanBtn{
    color:#3ee4cf;
    background-color: transparent;
    border-color: grey;
}

.cyanBtn:hover{
    border-color: white;
    color: black;
    background-color:  #78ebdc;  
}

.whiteBtn{  
    color: white;
    border-color: grey;
}
.whiteBtn:hover{
    color: black;
    border-color: grey;
    background-color: white;
}
/*------------------------------------------------*/

/*------------------Tables------------------------*/
.tbody tr{
    background: #1a1a18;
    border-bottom: 1.5px solid #242422;
    border-top: 1.5px solid #242422;
}

.thead thead{
    background: #1a1a18;
    border-bottom: 1.5px solid white;
} 

/*------------------------------------------------*/
