/*-------------------------text--------------------------*/
.normalText{
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.redText{
    color: #ca0004;
    background-color: transparent;
}

.cyanText{
    color: #00EEC7;
    background-color: transparent;
}
/*-------------------------------------------------------*/

/*----------------------------- Buttons -------------------*/
.btn {
    border: 0.5px solid;
    background-color: transparent;
    color: black;
    padding: 2px 2px;
    font-size: 10px;
    cursor: pointer;
    margin-top: 20px;   /*todo: change to flex boxes*/
    margin-bottom: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.redBtn{
    color: #ca0004;
    border-color: grey;
}
.redBtn:hover{
    color: white;
    border-color: white;
    background-color: #ca0004;
}

.cyanBtn{
    color: #00EEC7;
    border-color: grey;
}

.cyanBtn:hover{
    color: black;
    border-color: white;
    background-color: #00EEC7;
}

.whiteBtn{
    color: white;
    border-color: grey;
}
.whiteBtn:hover{
    color: black;
    border-color: grey;
    background-color: white;
}
/*------------------------------------------------*/

/*------------------Tables------------------------*/
.tbody tr:nth-child(even){
    background: hotpink;
    border-bottom: 1.5px solid cyan;
    border-top: 1.5px solid cyan;
}
.thead thead{
    background: hotpink;
    border-bottom: 1.5px solid cyan;
} 

/*------------------------------------------------*/
